@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
        <li>To use this Banking Portal, please log in or register.</li>
        <li>For assistance, contact </li>
        <li>Check out our latest features and updates.</li>
    </ol>
</div>

@{
    //razor view  technology for server side view rendering
    //ASP -> Active Server Pages
    //ASP.NET -> ASP + .NET framework
    //Razor syntax -> mix of HTML and C# code
    // @ symbol to switch between HTML and C#
    
    int count = 0;
    <p>Count: @count</p>
}