@{
    ViewData["Title"]= "Login";
}
<h1>Login Details</h1>
<form method ="Post" action="auth/login">

<table>
    <tr>
        <td>Username</td>
        <td> <input type="email" name="email"/></td>
    </tr>
    <tr>
        <td>Password</td>
        <td> <input type="password" name="password"/></td>
    </tr>
        <tr>
            <td> </td>
            <td> <button type="submit">login</button></td>
        </tr>
</table>

</form>